.logo span.logo__mark {
    display: none;
}

.logo span.logo__text {
    margin-top: 6px;
    height: 66px;
    content:url("/images/logo-light.png");
    font-size: 250%;
}

.dark-theme .logo span.logo__text {
    content:url("/images/logo-dark.png");
}

.logo span.logo__cursor {
    display: none;
}

div.content {
    margin-top: 0;
}

.container {
    flex-basis: auto;
}

.dark-theme h1, .dark-theme h2, .dark-theme h3, .dark-theme h4, .dark-theme h5, .dark-theme h6, .dark-theme strong, .dark-theme a  {
    color: rgb(220, 220, 230);
}

.header {
    padding: 5px;
}

.contact {
    margin: 1em 0;
}
.contact label {
    margin-top: 1em;
    display: block;
}
.contact span {
    display: block;
}

.contact textarea {
    height: 100px;
}

.contact label input, .contact label textarea {
    display: block;
    width: 100%;
    margin-bottom: 1em;
    background-color: #fafafa;
    border: 1px solid #dbdbe0;
    border-radius: 8px;
    box-shadow: none;
    padding: 0.55em 0.75em;
}

h1 {
    justify-content: center;
    padding-bottom: 0.5em;
    font-size: 300%;
}

table {
    border-spacing: 0px 2px;
    width: 100%
    /* overflow-x:scroll; display:block; */
}

th {
    border-bottom: 2px solid #A9A9B2;;
    /* border-spacing: 0px; */
}

td {
    white-space: nowrap;
    border-bottom: 1px solid #3B3D41;
}

.multi-column-container {
}

.multi-column {
  border: 1px solid #3B3D41;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 100em;
  overflow: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-content: flex-start;
}

.multi-column .column {
  min-width: 100px;
  margin: 0 1em;
  padding-left: 1.25em;
}

.multi-column .column pre {
  font-size: 90%;
}

.multi-column .column h3 {
  position: absolute;
  width: 5em;
  height: 1em;
  margin-top: 5.5em;
  margin-left: -1.5em;
  text-align: right;
  display: block;
  transform: rotate(270deg);
  transform-origin: 0 0;
  text-transform: uppercase;
  font-size: 150%;
  padding-top: 0;
}

h2, h3 {
  padding-top: 1em;
}
